@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1280px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  background-color: rgba(242, 242, 242, 1);
  color: rgba(51, 51, 51, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 1);
  box-shadow: rgba(0, 0, 0, 0.2)
}

.main-header {
}

.main-header-wrapper {
  padding-left: 70px;
  padding-right: 70px;
}

.main-header-nav {
  display: flex;
}

.main-header-nav .logo-link {
  margin-right: 28px;
}

.logo-link {
  width: 140px;
  height: 70px;
}

.main-header-logo {

}

.site-nav,
.user-nav {
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.site-nav {
  max-width: 500px;
}

.site-nav li {
  margin-bottom: 6px;
}

.site-nav .nav-link {
  padding: 18px 16px;
  position: relative;
}

.site-nav .nav-link:not([href])::after {
  content: "";
  position: absolute;
  width: 68px;
  height: 2px;
  bottom: -2px;;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(117, 98, 87, 1);
}

.user-nav {
  margin-left: auto;
  max-width: 150px;
}

.user-nav li {
  display: flex;
  margin: 0 auto;
  align-items: center;
  padding: 22px 12px;
  margin-bottom: 6px;
}

.user-nav li:last-child {
  margin-right: 0;
}

.user-nav .nav-link {



}

.nav-link-search {
  box-sizing: border-box;
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/icon-search.svg');
}

.nav-link-favorite {
  box-sizing: border-box;
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/icon-favorite.svg');
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.nav-link-favorite::after {
  position: absolute;
  content: "12";
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  align-content: center;
  top: -11px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(125, 181, 79, 1);
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
  padding: 8px 50px;
  border-radius: 4px;
  cursor: pointer;
}

.hgroup {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 670px;
}

.main-header-button-wrapper {
  align-self: center;
  margin-left: 20px;
  margin-top: 9px;
}

.main-header-button-wrapper .button {
  background-color: rgba(117, 97, 87, 1);
  padding-left: 34px;
  padding-right: 34px;
}

/* главная страница */

.page-main {
  /* background-color: rgba(117, 97, 87, 1); */
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -6px;
  flex-grow: 1;
}

.promo {
  padding: 51px 0 82px;
  text-align: center;
  position: relative;
}

.promo::after {
  position: absolute;
  content: '';
  right: 0;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 61px;
  background-image: url('../images/index/accessories-bg.svg');
  background-repeat: no-repeat;
}

.features .hgroup {
  display: flex;
  flex-direction: column-reverse;padding: 65px 0 90px;
}

.small-title {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;

}

.big-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.small-title + .big-title {
  margin-bottom: 25px;
}

.big-title + .small-title {
  margin-top: 20px;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.features-item {
  display: flex;
  min-height: 385px;
}

.features-item:not(:has(img)) {
  color: rgba(0, 0, 0, 1);
  width: 400px;
}

.features-item:not(:has(img)):nth-child(even) {
  background: rgba(131, 179, 211, 0.12);

}

.features-item:not(:has(img)):nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.features-item:has(img) {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 1);
  display: flex;
  width: 100%;
}

.features-item-left-img {
  flex-direction: row-reverse;
  vertical-align: middle;

}

.features-text {
  margin: 0;
  text-align: center;
  align-content: center;
  padding: 103px 80px;
}

.features-term {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  display: block;
  width: 175px;
  margin: 0 auto;
  margin-bottom: 60px;
  position: relative;
}

.features-term::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  left: 58px;
  bottom: -30px;
  background-color: rgba(0, 0, 0, 0.3) ;
}

.features-item:has(img) .features-term::after {
  background-color: rgba(255, 255, 255, 0.3);

}

/* advice */

.advice .hgroup {
  padding: 64px 0;
}

.advice-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.advice-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  padding: 80px 85px;
}

.advice-item::before {
  content: "";
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.advice-item-house::before {
  background-image: url('../images/index/advice-house.svg');
}

.advice-item-eat::before {
  background-image: url('../images/index/advice-eat.svg');
}

.advice-item-buy::before {
  background-image: url('../images/index/advice-buy.svg');
}

.advice-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advice-term {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 30px;
  margin-top: 32px;
}

.advice-description {
  margin: 0;
  text-align: center;
}

.booking {
  text-align: center;
  padding: 96px 0;
}

.booking .hgroup {
  margin-bottom: 54px;
}

.booking .button {
  font-size: 20px;
  line-height: 36px;
  background-color: rgba(117, 97, 87, 1);
}

/* .subscribe-form-email {
  width: 452px;
  border-radius: 4px;
  padding: 13px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  border: none;
} */

.subscribe {

}

.subscribe-wrapper {
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-white-wrapper{
  background-image: url(../images/index/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 1);
}

.subscribe .hgroup {
  margin-bottom: 54px;
}

.subscribe-white-wrapper .big-title {
  color: rgba(255, 255, 255, 1);
}

.subscribe-form {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 687px;
}

.subscribe-form input[type="email"] {
  flex-grow: 1;
  padding: 13px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  background-color: rgba(242, 242, 242, 1);
}


.subscribe-form .button {
  padding: 8px 50px;
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.main-footer {

}

.main-footer-wrapper {
  padding: 40px 70px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 5px;
  display: flex;
}

.social-item {
  display: flex;
background-color: aquamarine;
}

.social-link {
margin: 12px;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-link-vk {
  width: 24px;
  height: 14px;
  background-image: url('../images/social-vk.svg');

}

.social-link-tg {
  width: 18px;
  height: 16px;
  background-image: url('../images/social-tg.svg');
}

.social-link-youtube {
  width: 22px;
  height: 17px;
  background-image: url('../images/social-youtube.svg');
}

.phone {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: inherit;
  color: rgba(0, 0, 0, 1);
}

.development-link {
  width: 115px;
  height: 33px;
  background-image: url('../images/logo-footer-htmlacademy.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

/* каталог */

.catalog-main {
  flex-grow: 1;
}

.catalog-filter-wrapper {
  background-color: brown;
  background-image: url('../images/catalog/filter-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: rgba(255, 255, 255, 1);
  margin-top: -6px;
  margin-bottom: 50px;
  padding: 35px 70px 70px 70px;
}

.catalog-filter-wrapper h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-bottom: 8px;
}

.breadscrumbs {
  margin-bottom: 40px;
}

.breadscrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
}

.breadscrumbs-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadscrumb-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;

}

.breadscrumb-link-home {
  width: 13px;
  height: 15px;
  background-image: url('../images/catalog/breadscrumbs_home.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 20px;
}

.breadscrumb-link[href]::after {
  content: "";
  display: flex;
  width: 10px;
  height: 10px;
  background-image: url('../images/catalog/breadscrumbs_arrow.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.filter-form input {
  margin-bottom: 16px;
}


.filter-facilities,
.filter-property-types,
.filter-price,
.filter-form-button-wrapper {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}



.filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
}

.filter-facilities {

}

.filter-property-types {

}

.filter-price {

}

.filter-form-button-wrapper .button {

}

.filter-form-button-wrapper {
  margin-top: auto;
}

.button-transparent {
  margin-top: 32px;
  background-color: rgba(130, 179, 211, 0);
}
/* страница каталога */

.catalog {
  color: rgba(0, 0, 0, 1);
  padding: 0 70px;
}

.catalog-header {
  display: flex;
  margin-bottom: 40px;
}

select[name^="select-control"] {
  margin-left: auto;
}

.catalog-header h3 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.display-card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 70px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.display-card-list li {
  padding: 14px 12px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 5px;
}

.display-card-button {
  width: 16px;
  height: 14px;
  box-sizing: border-box;
  display: block;
}

.button-table {
  background-image: url('../images/catalog/mode-table.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.button-list {
  background-image: url('../images/catalog/mode-slideshow.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.button-slideshow {
  background-image: url('../images/catalog/mode-list.svg');
  background-repeat: no-repeat;
  background-size: contain;
}



.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  margin-bottom: 80px;
}

.catalog-item {


}

.catalog-item-card {
  box-sizing: border-box;
  max-width: 340px;
  padding: 19px;
  border: 1px solid rgba(242, 242, 242, 1);
}

.card-title-link {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 16px;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  margin-top: 16px;
}

.card-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-description-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 16px;
}

.card-title-link img {
  width: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.property-types {
}

.price {
}

.rating-star {
  display: flex;
  align-items: center;
  gap: 6px;
}

.star {
  width: 18px;
  height: 17px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../images/catalog/star-hotel.svg');
}

.star + .empty-star {
  background-image: none;
}

.rating-review {
  font-weight: 400;
  padding-left: 22px;
  padding-right: 22px;
  color: rgba(51, 51, 51, 1);
  background-color: rgba(242, 242, 242, 1);
}

.card-button-more {
  background-color: rgba(117, 97, 87, 1);
  padding-left: 26px;
  padding-right: 26px;
}

.card-button-favourite {
  padding-left: 18px;
  padding-right: 18px;
}

.catalog-item-card .card-description-row:nth-of-type(2) {
  order: 1;
  margin-bottom: 0;
}

/* пагинация */

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  color: rgba(255, 255, 255, 1);
  display: flex;
  gap: 8px;
}

.pagination-item {
  background-color: rgba(130, 179, 211, 1);
  border-radius: 4px;

}

.pagination-link {
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;

  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
